@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Gill Sans';
}

body {
  background: var(--background--lineal-gradient);
  min-width: 300px;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100vh;
}
:root {
  background-color: var(--background--lineal-gradient);
  --background--lineal-gradient:  linear-gradient(rgba(214,168,188,1), rgba(198,187,183,1));

  --background-dark: rgba(53, 53, 53, 1);
  --background-dark-hover: rgba(37, 37, 37, 1);
  --background-light: rgba(214, 212, 212, 0.815);
  --background-light-hover: rgba(179, 178, 178, 0.815);
  --background-light-max: rgba(214, 212, 212, 1);
  --text-dark: rgba(7, 7, 7, 0.808);
  --text-darkest: rgba(7, 7, 7, 1);
  --text-light: rgb(197, 196, 196);
  --text-white: rgb(243, 243, 243);
  --title-h1-light: rgba(255, 255, 255, 0.8);
  --title-h2-light: rgba(46, 45, 45, 0.8);
  --title-h3-light: rgba(255, 255, 255, 0.8);
  --title-h4-light: rgba(255, 255, 255, 0.8);
  --title-h5-light: rgba(255, 255, 255, 0.8);
  --title-h6-light: rgba(255, 255, 255, 0.8);
  --title-h1-dark: rgba(0, 0, 0, 0.8);
  --title-h2-dark: rgba(0, 0, 0, 0.8);
  --title-h3-dark: rgba(0, 0, 0, 0.8);
  --title-h4-dark: rgba(0, 0, 0, 0.8);
  --title-h5-dark: rgba(0, 0, 0, 0.8);
  --title-h6-dark: rgba(0, 0, 0, 0.8);
  --background-red: rgba(127,38,34,1);
  --background-red-hover: rgb(139, 57, 52);
  --background-red-hover-dark: rgb(90, 27, 23);
  --background-blue: rgba(0, 123, 250, 0.8);
  --background-blue-hover: rgba(0, 123, 250, 1);
  --background-blue-dark: rgba(54, 150, 247, 0.6);
  --background-blue-hover-dark: rgba(54, 150, 247, 1);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(232, 89, 115, 0.693);
  
}
